/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/moc0jjd.css");



/*=======================================
Main Styles
=======================================*/
body, html, #footer-nav {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px !important;
}

td {
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    color: #795548;
    font-family: proxima-nova, sans-serif;
    font-weight: 300 !important;
    font-style: normal;
}

#main-header h1 {
    font-family: regulator-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home-item {
    color: #795548 !important;
    font-weight: 600 !important;
}

.bg-light {
    background-color: #F1F2F7 !important;
}

.text-dark {
    color: #795548 !important;
}

.card {
    border: none;
    border-radius: 0px;
}

.card-img-top {
    border-radius: 0px;
}

.card-text {
    color: #3d3d3d;
    font-weight: 400;
}

.input-group-text {
    background-color: #795548;
    color: #fff;
}

.active {
    color: #0984e3 !important;
}

.btn {
    background-color: #795548;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.btn:hover {
    background-color: #5D4037;
    transition: 0.2s ease;
}

a:hover {
    text-decoration: none !important;
}

a.text-dark:hover {
    color: #5D4037 !important;
    transition: 0.2s ease;
}




/*=======================================
Header Styles
=======================================*/
#main-header {
    color: #795548 !important;
    font-family: regulator-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.logo {
    width: 50px;
}



/*=======================================
Cookie Page Styles
=======================================*/
#choc-chip-jumbo {
    background-image: url('../assets/chocolate-chip.jpg');
    background-position: center;
    background-repeat: no-repeat;
}



/*=======================================
Google Maps Styles
=======================================*/
.mapouter {
    text-align:right;
    height:200px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:200px;
    width:100%;
}