/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/moc0jjd.css");
/*=======================================
Main Styles
=======================================*/

body, html, #footer-nav {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px !important;
}

#main-header {
    color: #6D4C41 !important;
    font-family: regulator-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.bg-light {
    background-color: #F1F2F7 !important;
}

.text-dark {
    color: #6D4C41 !important;
}

a.text-dark:hover {
    color: #3E2723 !important;
    transition: 0.2s ease;
}

.card-text {
    color: #6d4c41 !important;
}

.input-group-text {
    background-color: #6D4C41;
    color: #fff;
}

#choc-chip-jumbo {
    background-image: url('../assets/chocolate-chip-297x500.jpg');
    background-position: center;
}
