/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/moc0jjd.css");



/*=======================================
Main Styles
=======================================*/
body, html, #footer-nav {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px !important;
}

.bg-light {
    background-color: #F1F2F7 !important;
}

.text-dark {
    color: #795548 !important;
}

.card-text {
    color: #795548 !important;
}

.input-group-text {
    background-color: #795548;
    color: #fff;
}

.active {
    color: #0984e3 !important;
}

.btn {
    background-color: #795548;
}

.btn:hover {
    background-color: #5D4037;
    transition: 0.2s ease;
}

a.text-dark:hover {
    color: #5D4037 !important;
    transition: 0.2s ease;
}


/*=======================================
Header Styles
=======================================*/
#main-header {
    color: #795548 !important;
    font-family: regulator-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.logo {
    width: 50px;
}



/*=======================================
Cookie Page Styles
=======================================*/
#choc-chip-jumbo {
    background-image: url('../assets/chocolate-chip.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
